<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">#ID</th>
            <th scope="col">Name Products</th>
            <th scope="col">Image</th>
            <th scope="col">Price</th>
            <th scope="col">sleepingPlaces</th>
            <th scope="col">supplement</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
        </tr>
    </tbody>
</table>